.logo-animation{
animation: logo-animation 2s ease-in-out infinite;
}

@keyframes logo-animation{
    0% {filter: drop-shadow(0 0 10px #2cceff);}
    40% {filter: drop-shadow(0 0 10px #ff792c);}
    60% {filter: drop-shadow(0 0 10px #302cff);}
    80% {filter: drop-shadow(0 0 10px #ff2c2c);}
    100% {filter: drop-shadow(0 0 10px #ed2cff);}
    20% {filter: drop-shadow(0 0 10px #56ff2c);}
  }
